In [38]:
import pandas as pd

df = pd.read_table('phenocode-250.2.tsv')
print(df)

          chrom       pos ref alt         rsids nearest_genes  \
0             1     16071   G   A   rs541172944         OR4F5
1             1     16280   T   C   rs866639523         OR4F5
2             1     49298   T   C    rs10399793         OR4F5
3             1     54353   C   A   rs140052487         OR4F5
4             1     54564   G   T   rs558796213         OR4F5
...         ...       ...  ..  ..           ...           ...
28338018     22  51237410   G   A   rs530437591        RABL2B
28338019     22  51238513   C   G  rs1181188060        RABL2B
28338020     22  51239586   T   G   rs535432390        RABL2B
28338021     22  51239678   G   T   rs573137567        RABL2B
28338022     22  51244163   A   G   rs199560686        RABL2B

                                 consequence   pval   beta  sebeta        af  \
0                             intron_variant  0.065  2.600    1.40  0.000050
1                             intron_variant  0.320  0.800    0.81  0.000150
2                      upstream_gene_variant  0.460  0.015    0.02  0.620000
3                             intron_variant  0.270 -0.720    0.65  0.000360
4                             intron_variant  0.720  0.210    0.58  0.000150
...                                      ...    ...    ...     ...       ...
28338018  non_coding_transcript_exon_variant  0.790 -0.190    0.72  0.000094
28338019  non_coding_transcript_exon_variant  0.320  0.460    0.46  0.000220
28338020  non_coding_transcript_exon_variant  0.220 -0.150    0.12  0.003000
28338021  non_coding_transcript_exon_variant  0.370 -1.100    1.30  0.000160
28338022             downstream_gene_variant  0.670 -2.000    4.70  0.000025

                ac    tstat
0             40.9     1.30
1            126.2     1.20
2         508604.3 -1400.00
3            289.5    -1.70
4            122.3     0.63
...            ...      ...
28338018      76.4    -0.38
28338019     181.5     2.20
28338020    2480.3   -10.00
28338021     127.9    -0.71
28338022      20.5    -0.09

[28338023 rows x 13 columns]

In [81]:
df_ = df[df["chrom"]==1]

In [82]:
print(df_.shape,df.shape)

(2223733, 13) (28338023, 13)

In [83]:
for i in range(df_.shape[0]):
    if df_.loc[i,"beta"]<0:
        df_.loc[i,"Direction"]=-1
        df_.loc[i,"beta"]=df_.loc[i,"beta"]*(-1)
    else:
        df_.loc[i,"Direction"]=1

/tmp/ipykernel_110226/608421614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.loc[i,"Direction"]=1

In [84]:
df_.rename(columns = {'ref' : 'A1'}, inplace = True)
df_.rename(columns = {'alt' : 'A2'}, inplace = True)
df_.rename(columns = {'rsids' : 'Predictor'}, inplace = True)
df_.rename(columns = {'beta' : 'Stat'}, inplace = True)

/tmp/ipykernel_110226/3721912490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'ref' : 'A1'}, inplace = True)
/tmp/ipykernel_110226/3721912490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'alt' : 'A2'}, inplace = True)
/tmp/ipykernel_110226/3721912490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'rsids' : 'Predictor'}, inplace = True)
/tmp/ipykernel_110226/3721912490.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'beta' : 'Stat'}, inplace = True)

In [85]:
df_["n"] = 407690

/tmp/ipykernel_110226/1637584139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["n"] = 407690

In [86]:
df_.drop(["chrom","pos","nearest_genes",'consequence',"pval",'sebeta','af','tstat',"ac"],axis=1,inplace=True)

/tmp/ipykernel_110226/912724274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.drop(["chrom","pos","nearest_genes",'consequence',"pval",'sebeta','af','tstat',"ac"],axis=1,inplace=True)

In [87]:
df_ = df_[["Predictor","A1","A2","Direction","Stat","n"]]

In [88]:
df_.dropna(subset="Predictor", inplace=True)

## inconsistent genotypes

In [43]:
from pandas_plink import read_plink
(bim, fam, bed) = read_plink("ukb_chr1_v2.bed",verbose=False)
bim

      chrom          snp   cm        pos   a0 a1      i
0         1   rs28659788  0.0     723307    C  G      0
1         1  rs116587930  0.0     727841    G  A      1
2         1  rs116720794  0.0     729632    C  T      2
3         1    rs3131972  0.0     752721    A  G      3
4         1   rs12184325  0.0     754105    C  T      4
...     ...          ...  ...        ...  ... ..    ...
63482     1   rs77124333  0.0  249211619    G  A  63482
63483     1  rs150352847  0.0  249211879  AAG  A  63483
63484     1   rs41308182  0.0  249212878    A  G  63484
63485     1   rs74322946  0.0  249218540    C  A  63485
63486     1  rs114152372  0.0  249222527    A  G  63486

[63487 rows x 7 columns]

In [93]:
df_[df_.duplicated(subset="Predictor",keep=False)]

           Predictor A1 A2  Direction   Stat       n
213      rs151120166  G  A       -1.0  0.320  407690
214      rs151120166  G  T       -1.0  1.200  407690
770      rs559902987  C  G        1.0  0.540  407690
771      rs559902987  C  T        1.0  0.032  407690
809      rs139049437  C  G        1.0  0.230  407690
...              ... .. ..        ...    ...     ...
2223337  rs146263542  G  C       -1.0  0.170  407690
2223425  rs143523484  C  G        1.0  0.210  407690
2223426  rs143523484  C  T       -1.0  0.028  407690
2223675  rs151067216  C  A        1.0  0.590  407690
2223676  rs151067216  C  G       -1.0  0.660  407690

[15908 rows x 6 columns]

- 원래 duplicated -> 15908 pairs
- 이 중 bim과 겹치고 inconsistent -> 294 -> drop
- still duplicated -> 15614 -> only first

In [121]:
df_idx = df_.reset_index(drop=False, inplace=False)
df_idx

           index    Predictor A1 A2  Direction   Stat       n
0              0  rs541172944  G  A        1.0  2.600  407690
1              1  rs866639523  T  C        1.0  0.800  407690
2              2   rs10399793  T  C        1.0  0.015  407690
3              3  rs140052487  C  A       -1.0  0.720  407690
4              4  rs558796213  G  T        1.0  0.210  407690
...          ...          ... .. ..        ...    ...     ...
2205129  2223728  rs563769220  G  A       -1.0  0.930  407690
2205130  2223729  rs532391199  G  A       -1.0  0.069  407690
2205131  2223730  rs372858948  G  T       -1.0  0.040  407690
2205132  2223731  rs546708697  C  G        1.0  1.000  407690
2205133  2223732  rs540118497  G  T        1.0  1.900  407690

[2205134 rows x 7 columns]

In [122]:
df_INNER_JOIN = pd.merge(df_idx, bim, left_on='Predictor', right_on='snp', how='inner')

In [123]:
df_INNER_JOIN

,index,Predictor,A1,A2,Direction,Stat,n,chrom,snp,cm,pos,a0,a1,i
0,302,rs116720794,C,T,1.0,0.00160,407690,1,rs116720794,0.0,729632,C,T,2
1,439,rs3131972,A,G,-1.0,0.00670,407690,1,rs3131972,0.0,752721,A,G,3
2,449,rs12184325,C,T,1.0,0.00400,407690,1,rs12184325,0.0,754105,C,T,4
3,477,rs3131962,A,G,-1.0,0.00960,407690,1,rs3131962,0.0,756604,A,G,5
4,503,rs114525117,G,A,1.0,0.00018,407690,1,rs114525117,0.0,759036,G,A,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57815,2223561,rs41305584,C,T,-1.0,0.01800,407690,1,rs41305584,0.0,249211581,C,T,63481
57816,2223562,rs77124333,G,A,1.0,0.24000,407690,1,rs77124333,0.0,249211619,G,A,63482
57817,2223566,rs41308182,A,G,-1.0,0.01200,407690,1,rs41308182,0.0,249212878,A,G,63484
57818,2223631,rs74322946,C,A,-1.0,0.00710,407690,1,rs74322946,0.0,249218540,C,A,63485
57819,2223668,rs114152372,A,G,1.0,0.01300,407690,1,rs114152372,0.0,249222527,A,G,63486

In [124]:
dup = df_INNER_JOIN[df_INNER_JOIN.duplicated(subset="Predictor",keep=False)]
dup

,index,Predictor,A1,A2,Direction,Stat,n,chrom,snp,cm,pos,a0,a1,i
195,5369,rs1320571,G,A,-1.0,0.0018,407690,1,rs1320571,0.0,1120431,G,A,244
196,5370,rs1320571,G,C,-1.0,0.0690,407690,1,rs1320571,0.0,1120431,G,A,244
222,6087,rs77668548,G,A,1.0,0.0790,407690,1,rs77668548,0.0,1164538,G,T,275
223,6088,rs77668548,G,T,1.0,0.0150,407690,1,rs77668548,0.0,1164538,G,T,275
235,6408,rs6657544,G,A,-1.0,0.0052,407690,1,rs6657544,0.0,1186665,G,A,290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56735,2185140,rs61754898,G,C,1.0,0.0110,407690,1,rs61754898,0.0,245704130,G,C,62310
56807,2187061,rs201582888,C,A,1.0,0.6100,407690,1,rs201582888,0.0,245848758,C,A,62382
56808,2187062,rs201582888,C,T,1.0,1.0000,407690,1,rs201582888,0.0,245848758,C,A,62382
57019,2195375,rs4654247,G,A,-1.0,0.0830,407690,1,rs4654247,0.0,246532413,G,T,62600
57020,2195376,rs4654247,G,T,1.0,0.0100,407690,1,rs4654247,0.0,246532413,G,T,62600

In [159]:
#dup.set_index('index', inplace=True)
inconsis_idx = dup[dup["A2"]!=dup["a1"]].index
df_consis = df_.drop(inconsis_idx)

In [160]:
df_consis[df_consis.duplicated(subset="Predictor",keep=False)]

           Predictor A1 A2  Direction   Stat       n
213      rs151120166  G  A       -1.0  0.320  407690
214      rs151120166  G  T       -1.0  1.200  407690
770      rs559902987  C  G        1.0  0.540  407690
771      rs559902987  C  T        1.0  0.032  407690
809      rs139049437  C  G        1.0  0.230  407690
...              ... .. ..        ...    ...     ...
2223337  rs146263542  G  C       -1.0  0.170  407690
2223425  rs143523484  C  G        1.0  0.210  407690
2223426  rs143523484  C  T       -1.0  0.028  407690
2223675  rs151067216  C  A        1.0  0.590  407690
2223676  rs151067216  C  G       -1.0  0.660  407690

[15614 rows x 6 columns]

In [161]:
df_consis.drop_duplicates(subset='Predictor', inplace=True) #2223733 -> 2197173

In [162]:
#modify the rest inconsistent genotypes
df_consis.loc[df_consis["Predictor"]=='rs199984518','A2'] = bim[bim["snp"]=='rs199984518']['a1'].values[0]
df_consis.loc[df_consis["Predictor"]=='rs60822373','A2'] = bim[bim["snp"]=='rs60822373']['a1'].values[0]

In [148]:
df_consis.to_csv('t2d.summaries', index=False, header=True, sep=" ")

In [163]:
df_consis.loc[df_consis["Predictor"]=='rs60822373',['A1','A2']]

        A1    A2
1782395  G  <NA>

In [171]:
bim[bim["snp"]=='rs60822373']['a1'].values[0]

'C'

## make extract file

In [142]:
extract = df_consis["Predictor"] #2197173
extract

0          rs541172944
1          rs866639523
2           rs10399793
3          rs140052487
4          rs558796213
              ...
2223728    rs563769220
2223729    rs532391199
2223730    rs372858948
2223731    rs546708697
2223732    rs540118497
Name: Predictor, Length: 2197173, dtype: object

In [143]:
extract.to_csv('extract.txt', index=False, header=False)